<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汇中微交易后台管理</title>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/iconfont/iconfont.css">
    <link rel="stylesheet" href="/admin/css/login.css">
</head>
<body>
<div class="container">
    <form class="form-signin">
        <h4 class="form-signin-heading">微交易直播课堂</h4>
        <label for="inputName" class="sr-only">用户名</label>
        <input type="text" id="inputName" class="form-control" placeholder="用户名" autofocus="">
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" >
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住密码
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" id="login">登录</button>
    </form>

</div>

<script type="text/javascript" src="/admin/dist/login.min.js"></script>
</body>
</html>