<meta charset="UTF-8">
<title><%  if(typeof info.basis === 'object'){ %><%=info.basis.siteTitle%><% } %></title>
<meta name="keywords" content="<%  if(typeof info.basis === 'object'){ %><%=info.basis.siteKeywords%><% } %>">
<meta name="description" content="<%  if(typeof info.basis === 'object'){ %><%=info.basis.siteDescription%><% } %>">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">



